@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight:200
  }
  
  @font-face {
    font-family: "BebasNeue-Bold";
    src: url("../fonts/BebasNeue/Bebas\ Neue\ Pro\ Bold.ttf") format("truetype");
    font-weight: 500;
  }

  @font-face {
    font-family: "BebasNeue-Middle";
    src: url("../fonts/BebasNeue/Bebas\ Neue\ Pro\ Middle.ttf") format("truetype");
  }

  .showcase-signUp {
    height: 45vw;
    width: 100%;
    background-size:cover;
    background-image: url("../images/GreySiteBody.png");
    display:block;
    align-items: center;
    position: absolute;
    margin-top: 2%;
    justify-content: center;
}

.container-signup {
    width: 40vw;
    height: 70vh;
    
}

.header {
    font-family: BebasNeue-Bold;
    font-size: 4.2vw;
    text-align: center;
    list-style: none;
    display: block;
    position: relative;
    margin-bottom: 3vh;
}

.infoPanel {
  column-count: 1;
  display: inline;
  align-items: center;
}

.user-details-signUp {
  margin-bottom: 3vh;
  column-count: 1;
  display: inline-block;
  justify-content: space-between;
  align-content: center;
  width: 22vw;
  margin-left: 40%
}

.details {
  font-family: BebasNeue-Middle;
  font-weight: 100;
  font-size: 1.9vw;
  list-style: none;
  display: inline;
  width: 12vw;
  margin-bottom: 1.3vh;
  text-align: center;
}

.field {
  width: 20vw;
  height: 4vh;
  margin-bottom: 1.3vh;
  font-family: Montserrat;
  text-align: center;
  font-size: large;
}

.opt {
  font-size: large;
  width: 6vw;
  height: 4vh;
  margin-right: 7.4vw;
}

.smButton {
  height: 9vh;
  width: 14vw;
  cursor: pointer;
  display: flex;
  padding-left: 0;
  margin-left: 32%;
}

.bottoms {
  margin-left: 40%
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}